// font import
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// basic reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #325185;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2vmin;
}

%flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

// container for CookieClicker game
#app {
  @extend %flex-box;
}

.game {
  @extend %flex-box;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
}

.scoreBoard {
  line-height: 230%;
  height: 10%;
  text-align: center;
}

.game_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
}

.cookie {
  border-radius: 50%;
  border: none;
  background: url(../imagessrc/images/Cookie.png) center center/contain no-repeat;
  width: 40vmin;
  height: 40vmin;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
  &:focus {
    outline: none;
  }
}

.store {
  width: 50%;
  height: 80%;
}

.storeBtn {
  height: (90%/5); // to add a new producer you have to divide by number of producers
  width: 95%;
  margin: 0.3rem;
  border-radius: 10px;
  background-color: #F5F2EB;
  border: 3px solid #B4CAB5;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    img {
      width: 55px;
      height: 55px;
    }
    h1 {
      text-transform: uppercase;
    }
    li {
      list-style-type: none;
    }
    span {
      font-size: 4vmin;
      opacity: .6;
    }
  }
  &:focus {
    outline: none;
  }
}

.newGame {
  background-color: #325185;
  border: 3px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 15px;
  &:hover {
    color: #B4CAB5;
    border: 3px solid #B4CAB5;
  }
  &:focus {
    outline: none;
  }
}

.cookieInfo {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  text-align: center;
  padding: 30px 0;
  background-color: rgba(0,0,0,.7);
  font-size: 1.5rem;
  .agreeBtn {
    margin-top: 10px;
    background-color: inherit;
    border: 3px solid #fff;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 10px;
    &:hover {
      color: #325185;
      border: 3px solid #325185;
      background-color: #fff;
    }
    &:focus {
      outline: none;
    }
  }
}
